<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cenovnik</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/cenovnik.css">
  </head>
  <body>
    <%- include('partials/header.ejs')  %>
    
    <div class="cenovnik-desktop container-fluid mt-5 mb-5">
      
        <div class="cenovnikMain row mx-auto">
          <img class="cenovnik-icon" src="images/discount.png" alt="">
          
          
          
          <div class="col-12 text-center">
            <h1 class="mb-4">Cenovnik</h1>
          </div>
          <div class="col-6 text-start cena-titles">
            <% cenovnik.forEach(cena => { %>
              <div class=" cena-title"><h5 class="d-inline"><%-cena.title%></h5></div><br>
            <% });  %>
          </div>
          <div class="col-6 text-end cena-prices">
            <% cenovnik.forEach(cena => { %>
              <div class=" cena-price"><%-cena.price%> <span class="cena-details"><%- cena.details%></span></div>
             <br>
            <% });  %>
          </div>
          <div class="text-center fs-4">Cene su podložne promenama</div>
        </div>
    </div>
    <div class="cenovnik-mobile container-fluid mt-5 mb-5">
      <div class="cenovnikMain row mx-auto">
        <img class="cenovnik-icon" src="images/discount.png" alt="">
        <div class="col-12 text-center">
          <h1 class="mb-4">Cenovnik</h1>
        </div>
        <div class="col-12 text-center cena">
          <% cenovnik.forEach(cena => { %>
            <div class=" cena-content "><h5 class="d-inline"><%-cena.title%></h5><br><%-cena.price%>
            <div class="cena-details"><%- cena.details%></div>
          </div><br>
            
          <% });  %>
          <div class="text-center">Cene su podložne promenama</div>
        </div>
        
      </div>
  </div>
    <%- include('partials/footer.ejs')  %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>